<div class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="">
        <%= link_to "Products", products_path, class: "col-2 navbar-brand" %>
        <%= link_to "Orders", orders_path, class: "col-2 navbar-brand" %>
        <%= link_to "Employees", employees_path, class: "col-2 navbar-brand" %>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-5"> Welcome <%= current_user.username %> </div>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } , class: "col-5 btn btn-dark" %> 
      <% end %>
    </div>
  </div>
</div>
