<h1 class="text-center m-4 h1">Product</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @product.title %></td>
    <td><%= @product.description %></td>
    <td><%= @product.price %></td>
  </tr>
</table>

<h1 class="text-center m-4 h1">Orders</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Index</th>
    <th>Customer Name</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <% @orders.each_with_index do |order, inx| %>
    <tr>
      <td><%= inx+1 %></td>
      <td><%= order.user.username %></td>
      <td>
        <div class="d-inline badge text-dark">
          <% if order.booked? %>
            <i class='bi bi-circle-fill success'></i>
          <% else %>
            <i class='bi bi-circle-fill danger'></i>
          <% end %>
          <%= order.status.capitalize %>
        </div>
      </td>
      <td><%= order.quantity %></td>
      <td><%= order.total_price %></td>
    </tr>
  <% end %>
</table>
